/** Admin Bar **/

#wpadminbar li#wp-admin-bar-urtak a {
	background-image: url(img/urtak-logo-16-desat.png);
	background-repeat: no-repeat;
	background-position: 12px center;
	padding-left: 32px;
}

/** Settings Notice **/

div.urtak-error {
	background: #edf8fd;
	border-color: #ebebeb;
}

div.urtak-error p {
	background: transparent url(img/urtak-logo-20.png) no-repeat left center;
	padding-left: 27px;
}

/** Settings Page **/

#icon-urtak {
	background-image: url(img/urtak-logo-32.png);
}

.urtak-wrap div.updated {
	margin-bottom: 0;
	margin-left: 46px;
	width: 472px;
}

.urtak-wrap-title {
	display: inline-block;
	margin-right: 10px;
}

.urtak-logged-in, .urtak-api-key {
	color: #aaaaaa;
	font-size: 13px;
	vertical-align: middle;
}

.urtak-logged-in a {
	text-decoration: none;
}

.urtak-api-key {
	color: #aaaaaa;
}

.urtak-inner-wrap {
	margin: 0 38px;
}

.urtak-inner-wrap-settings {
	margin: 0 46px;
}

.urtak-inner-wrap .handlediv {
	display: none !important;
}

.urtak-inner-wrap .meta-box-sortables > .widefat {
	margin: 0 0 20px;
}

.urtak-inner-wrap .meta-box-sortables > .widefat td {
	padding-top: 10px;
	padding-bottom: 6px;
}

.urtak-settings {
	width: 488px;
}

.urtak-settings h2 {
	color: #666666;
	font-family: 'Droid Sans', sans-serif;
	font-size: 38px;
	font-weight: 700;
	line-height: 1;
	margin: 25px 0 14px;
	padding: 0;
}

#urtak-settings-header {
	margin: 38px 0 0;
}

#urtak-settings-subheader {
	margin-top: 9px;
}

.urtak-settings h2 small {
	float: right;
	font-size: 13px;
}

.urtak-settings h3 {
	color: #666666;
	font-family: 'Droid Sans', sans-serif;
	font-size: 19px;
	font-weight: 700;
	line-height: 1;
	margin: 28px 0 13px;
}

.urtak-field {
	background: #f8f8f8;
	border-radius: 3px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 1px;
	padding: 21px;
}

.urtak-field > *:first-child {
	margin-top: 0;
}

.urtak-field > *:last-child {
	margin-bottom: 0 !important;
}

.urtak-field input.text, .urtak-field select {
	display: block;
	margin-bottom: 16px;
	width: 99%;
}

#urtak-field-logout {
	color: #2f759b;
	float: right;
	text-decoration: none;
}

#urtak-field-logout:hover {
	text-decoration: underline;
}

.urtak-checkbox-container {
	margin-bottom: 20px;
}

.urtak-checkbox {
	color: #666666;
	display: block;
}

.urtak-checkbox input {
	margin-right: 5px;
}

.urtak-help {
	color: #999999;
	margin: 0 0 5px 23px;
}

.urtak-help-nomargin {
	margin-left: 0;
}

.urtak-help label {
	/*display: block;*/
}

#urtak-video-container {
	background: #f8f8f8;
	padding: 11px;
	width: 640px;
}

#urtak-video-container iframe {
	display: block;
}

/** Insights **/

.urtak-ajax-loader {
	padding: 10px;
	text-align: center;
}

.urtak-ajax-loader img {
	padding-right: 5px;
	vertical-align: middle;
}

#urtak-main-widget .meta-box-sortables, #urtak-other-widgets .meta-box-sortables {
	margin: 0 8px;
}
#urtak-main-widget .postbox-container {
	width: 100%;
}

#urtak-other-widgets .postbox-container {
	width: 50%;
}

#urtak-posts-without-urtaks-list {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}

#urtak-at-a-glance .hndle, #urtak-top-questions .hndle {
	border-bottom: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.urtak-at-a-glance-chart-placeholder {
	height: 300px;
	margin: 0 25px;
}

.urtak-tabbed-control {
	background: #ececec;
	border-bottom: 1px solid #dfdfdf;
	height: 29px;
	margin-left: -20px;
	padding: 5px 0 0;
	position: relative;
	right: -10px;
	top: -12px;
}

.urtak-tabbed-control li {
	display: inline-block;
	margin: 0 0 0 10px;
}

.urtak-tabbed-control li a {
	background: #efefef;
	border: 1px solid #dfdfdf;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;	
	color: #000000;
	display: block;
	font-weight: bold;
	height: 12px;
	line-height: 1;
	padding: 8px;
	text-decoration: none;
	z-index: 1000;
}

.urtak-tabbed-control li.active a {
	background: #f8f8f8;
	border-bottom-color: #f8f8f8;
}

/** Bar Graphs **/
.urtak-bar-graph {
	float: left;
	margin-bottom: 3em;
	width: 100%;
}

.urtak-bar-graph-item {
	border-bottom: 1px solid #666666;
	color: #00aef0;
	float: left;
	margin: 1em 0 0;
	padding: 0 1%;
	position: relative;
	text-align: center;
	width: 10.5%;
}

.urtak-bar-graph-many .urtak-bar-graph-item {
	padding: 0 .5%;
	width: 5.25%;
}

.urtak-bar-graph-item.urtak-yes {
	color: #fe7101;
}

.urtak-bar-graph-item-value {
	margin-top: -1.25em;
}

.urtak-bar-graph-item-container {
	height: 200px;
	position: relative;
}

.urtak-bar-graph-item-inner {
	background: #00aef0;
	min-height: 0px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.urtak-bar-graph-item-inner.urtak-yes {
	background: #fe7101;
}

.urtak-bar-graph-item-identifier {
	color: #555555;
	padding-top: .5em;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
}

/** Stat Tables **/
.urtak-responses-column, .urtak-questions-column, .urtak-users-column, .urtak-stats-column {
	max-width: 90px !important;
	width: 90px !important;
}